<div class="container signin-card">
    <div class="logo-image m-4">
        <img src="assets/img/logo.png" alt="Logo" title="Logo" width="138">
    </div>
    <form [formGroup]="recuperarSenhaForm">
        <app-alert type-alert="alert-warning">
            Digite seu <strong>e-mail</strong> e <strong>cpf</strong> e enviaremos um link de reinicialização de
            senha para o email cadastrado
        </app-alert>

        <div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text input-label-prepend">CPF</div>
                </div>
                <input formControlName="cpf" type="text" class="form-control" placeholder="Digite seu CPF"
                    mask="000.000.000-00">
            </div>
            <app-vmessage *ngIf="submitted && recuperarSenhaForm.get('cpf').errors?.required"
                text="O campo CPF é obrigatório"></app-vmessage>
            <app-vmessage *ngIf="submitted && recuperarSenhaForm.get('cpf').errors?.pattern"
                text="Deve ser um CPF válido"></app-vmessage>
        </div>

        <div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text input-label-prepend">E-mail</div>
                </div>
                <input formControlName="email" type="text" class="form-control" placeholder="Digite Seu E-mail">
            </div>
            <app-vmessage *ngIf="submitted && recuperarSenhaForm.get('email').errors?.required"
                text="O campo E-mail é obrigatório"></app-vmessage>
            <app-vmessage *ngIf="submitted && recuperarSenhaForm.get('email').errors?.email"
                text="Deve ser um E-mail válido"></app-vmessage>
        </div>

        <div>
            <button class="btn btn-block btn-info ripple-effect" (click)="enviar()" alt="sign in">Enviar</button>
        </div>
    </form>
</div>