<div class="container">
    <div class="field-set">
        <div class="row">
            <h1 style="font-weight: 600; font-size: 21px;" class="col-md-8">Endereço</h1>
        </div>

        <hr>

        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <label for="cep" class="label">CEP</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="fas fa-angle-right"></i></span>
                        </div>
                        <input formControlName="cep" type="text" class="form-control" id="cep" placeholder="CEP"
                            mask="00000-000" (blur)="buscarCep()">
                    </div>
                    <app-vmessage *ngIf="submitted && form.get('cep').errors?.required"
                        text="O campo CEP é obrigatório"></app-vmessage>
                    <app-vmessage *ngIf="submitted && form.get('cep').errors?.pattern" 
                        text="Deve ser um CEP válido">
                    </app-vmessage>
                </div>

                <div class="col-md-4 col-sm-12">
                    <label for="endereco" class="label">Endereço</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="fas fa-angle-right"></i></span>
                        </div>
                        <input formControlName="endereco" uppercase type="text" class="form-control" id="endereco"
                            placeholder="Endereço">
                    </div>
                    <app-vmessage *ngIf="submitted && form.get('endereco').errors?.required"
                        text="O campo Endereço é obrigatório"></app-vmessage>
                </div>

                <div class="col-md-4 col-sm-12">
                    <label for="complemento" class="label">Complemento</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="fas fa-angle-right"></i></span>
                        </div>
                        <input formControlName="complemento" uppercase type="text" class="form-control" id="complemento"
                            placeholder="Complemento">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <label for="bairro" class="label">Bairro</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="fas fa-angle-right"></i></span>
                        </div>
                        <input formControlName="bairro" uppercase type="text" class="form-control" id="bairro"
                            placeholder="Bairro">
                    </div>
                    <app-vmessage *ngIf="submitted && form.get('bairro').errors?.required"
                        text="O campo Bairro é obrigatório"></app-vmessage>
                </div>

                <div class="col-md-4 col-sm-12">
                    <label for="uf" class="label">UF</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="fas fa-angle-right"></i></span>
                        </div>
                        <input formControlName="uf" uppercase type="text" class="form-control" id="uf" placeholder="UF">
                    </div>
                    <app-vmessage *ngIf="submitted && form.get('uf').errors?.required" text="O campo UF é obrigatório">
                    </app-vmessage>
                </div>

                <div class="col-md-4 col-sm-12">
                    <label for="cidade" class="label">Cidade</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="fas fa-angle-right"></i></span>
                        </div>
                        <input formControlName="cidade" uppercase type="text" class="form-control" id="cidade"
                            placeholder="Cidade">
                    </div>
                    <app-vmessage *ngIf="submitted && form.get('cidade').errors?.required"
                        text="O campo Cidade é obrigatório"></app-vmessage>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label class="label" for="habitacao">Habitação</label>
                    <div class="input-group">
                        <select formControlName="habitacao" id="habitacao" class="custom-select">
                            <option *ngFor="let habitacao of listaHabitacao" [value]="habitacao.valor">
                                {{ habitacao.nome }}
                            </option>
                        </select>
                    </div>
                    <app-vmessage *ngIf="submitted && form.get('habitacao').errors?.required"
                        text="O campo Habitação é obrigatório"></app-vmessage>
                </div>
            </div>
        </form>
    </div>
</div>