<div class="btn btn-icon-split btn-lg btn-block btn-notification btn-{{data.style}}">
    <span class="icon text-white-50">
        <i [ngClass]="data.icon"></i>
    </span>
    <span class="text">{{ data.message }}</span>
</div>