<div>
    <div class="container signin-card">
        <div class="logo-image m-4">
            <img src="assets/img/logo.png" alt="Logo" title="Logo" width="138">
        </div>
        <form [formGroup]="novoUsuarioForm">
            <app-alert type-alert="alert-info">
                Não encontramos seu CPF, crie sua conta.
            </app-alert>

            <div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text input-label-prepend">CPF</div>
                    </div>
                    <input formControlName="cpf" type="text" class="form-control" placeholder="Digite seu CPF" mask="000.000.000-00">
                </div>
                <app-vmessage *ngIf="submitted && novoUsuarioForm.get('cpf').errors?.required" text="O campo CPF é obrigatório"></app-vmessage>
                <app-vmessage *ngIf="submitted && novoUsuarioForm.get('cpf').errors?.pattern" text="Deve ser um CPF válido"></app-vmessage>
            </div>

            <div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text input-label-prepend">Nome</div>
                    </div>
                    <input formControlName="nomeCompleto" uppercase type="text" class="form-control" placeholder="Digite seu Nome">
                </div>
                <app-vmessage *ngIf="submitted && novoUsuarioForm.get('nomeCompleto').errors?.required" text="O campo Nome é obrigatório"></app-vmessage>
            </div>

            <div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text input-label-prepend">E-mail</div>
                    </div>
                    <input formControlName="email" type="text" class="form-control" placeholder="Digite Seu Email">
                </div>
                <app-vmessage *ngIf="submitted && novoUsuarioForm.get('email').errors?.required" text="O campo E-mail é obrigatório"></app-vmessage>
                <app-vmessage *ngIf="submitted && novoUsuarioForm.get('email').errors?.email" text="Deve ser um E-mail válido"></app-vmessage>
            </div>

            <div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text input-label-prepend">Senha</div>
                    </div>
                    <input formControlName="senha" type="password" class="form-control" placeholder="Digite Sua Senha">
                </div>
                <app-vmessage *ngIf="submitted && novoUsuarioForm.get('senha').errors?.required" text="O campo Senha é obrigatório"></app-vmessage>
            </div>
            
            <div>
                <button class="btn btn-block btn-info ripple-effect" name="Submit" alt="sign in" (click)="criar()">Avançar</button>
            </div>

        </form>
    </div>
</div>