<div class="container">
    <div class="field-set">
        <div class="row">
            <h1 style="font-weight: 600; font-size: 21px;" class="col-md-8">Dados da Empresa</h1>
        </div>

        <hr>

        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <label for="dt-admissao" class="label">Data de Admissão</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i
                                    class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input formControlName="dataAdmisao" type="date" class="form-control" id="dt-admissao" required style="margin-top: 5px;">
                    </div>
                    <app-vmessage *ngIf="submitted && form.get('dataAdmisao').errors?.required"
                        text="O campo Data de Admissão é obrigatório"></app-vmessage>
                </div>

                <div class="col-md-8 col-sm-12">
                    <label for="cnpjEmpregador" class="label">
                        <span style="margin-right: 10px;">CNPJ do empregador</span>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="cnpjRadio" name="tipoDocEmpregador" class="custom-control-input"
                                value="cnpj" formControlName="tipoDocEmpregador"
                                (change)="alterarMascaraDoCampoCnpjDoEmpregador('cnpj')">
                            <label class="custom-control-label" for="cnpjRadio">CNPJ</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="ceiRadio" name="tipoDocEmpregador" class="custom-control-input"
                                value="cei" formControlName="tipoDocEmpregador"
                                (change)="alterarMascaraDoCampoCnpjDoEmpregador('cei')">
                            <label class="custom-control-label" for="ceiRadio">CEI</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="cpfRadio" name="tipoDocEmpregador" class="custom-control-input"
                                value="cpf" formControlName="tipoDocEmpregador"
                                (change)="alterarMascaraDoCampoCnpjDoEmpregador('cpf')">
                            <label class="custom-control-label" for="cpfRadio">CPF</label>
                        </div>
                    </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="fas fa-angle-right"></i></span>
                        </div>
                        <input formControlName="cnpjEmpregador" type="text" class="form-control" id="cnpjEmpregador" [mask]="mascaraCampoCnpj"
                            placeholder="CNPJ do empregador">
                    </div>
                    <app-vmessage *ngIf="submitted && form.get('cnpjEmpregador').errors?.pattern"
                        text="Deve ser um {{ tipoDocEmpregador }} válido"></app-vmessage>
                    <app-vmessage *ngIf="submitted && form.get('cnpjEmpregador').errors?.required"
                        text="O campo CNPJ do empregador é obrigatório"></app-vmessage>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label for="nome-empresa" class="label">Nome da Empresa</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="fas fa-angle-right"></i></span>
                        </div>
                        <input formControlName="nomeEmpresa" uppercase type="text" class="form-control"
                            id="nome-empresa" placeholder="Nome da Empresa">
                    </div>
                    <app-vmessage *ngIf="submitted && form.get('nomeEmpresa').errors?.required"
                        text="O campo Nome da Empresa é obrigatório"></app-vmessage>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label for="renda" class="label">Renda</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="fas fa-piggy-bank"></i></span>
                        </div>
                        <input formControlName="renda" type="text" class="form-control" id="renda"
                            placeholder="Renda" mask="separator.2" thousandSeparator=",">
                    </div>
                    <app-vmessage *ngIf="submitted && form.get('renda').errors?.required"
                        text="O campo Renda é obrigatório"></app-vmessage>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label for="observacao" class="label">Observação</label>
                    <textarea class="form-control" formControlName="observacao" id="observacao" rows="3" maxlength="300"></textarea>
                  </div>
            </div>
        </form>
    </div>
</div>