::ng-deep .mat-step-header .mat-step-icon-state-done {
    background-color: green; 
}

::ng-deep .ng-wizard-btn-group {
    left: 14px;
}

::ng-deep .ng-wizard-btn-group button {
    margin-right: 5px;
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
    border-top-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
}

.btn-salvar {
    position: relative;
    // left: 91.5%;
    // bottom: -120%;
}