<!-- COM MATERIAÇ DESIGN -->
<!-- <div class="container" style="margin-top: 10px; margin-bottom: 10px;">
    <mat-horizontal-stepper #stepper [linear]="true">
        <mat-step label="Atualização Pessoal" [stepControl]="informacoesPessoaisForm" class="step">
            <app-informacoes-pessoais [form]="informacoesPessoaisForm" [submitted]="stepOnesubmitted"></app-informacoes-pessoais>
            <div>
                <button mat-button matStepperNext type="button" (click)="stepOnesubmitted = true;">Avançar</button>
            </div>
        </mat-step>
        <mat-step label="Endereço" [stepControl]="enderecoForm" class="step">
            <app-endereco [form]="enderecoForm" [submitted]="stepTwosubmitted"></app-endereco>
            <div>
                <button mat-button matStepperPrevious type="button">Voltar</button>
                <button mat-button matStepperNext type="button" (click)="stepTwosubmitted = true;">Avançar</button>
            </div>
        </mat-step>
        <mat-step label="Dados da Empresa" [stepControl]="dadosDaEmpresaForm" class="step">
            <app-dados-empresa [form]="dadosDaEmpresaForm" [submitted]="stepThreesubmitted"></app-dados-empresa>
            <button mat-button matStepperPrevious type="button">Voltar</button>
            <button mat-button matStepperNext type="button" (click)="stepThreesubmitted = true; salvar();">Salvar</button>
        </mat-step>
    </mat-horizontal-stepper>
</div> -->

<div class="container" style="margin-top: 10px; margin-bottom: 10px;">
    <ng-wizard [config]="config">
        <ng-wizard-step [title]="'Dados Pessoais'" [description]="'Os seus dados pessoais'">
            <app-informacoes-pessoais [usuario]="usuario" [form]="informacoesPessoaisForm" [nomeSocialForm]="nomeSocialForm" [nomeSocialValido]="nomeSocialValido"
                [submitted]="submitted"></app-informacoes-pessoais>
        </ng-wizard-step>
    
        <ng-wizard-step [title]="'Endereço'" [description]="'Os dados do endereço onde você reside'">
            <app-endereco [form]="enderecoForm" [submitted]="submitted"></app-endereco>
        </ng-wizard-step>
    
        <ng-wizard-step [title]="'Dados da Empresa'" [description]="'Os dados da empresa onde você trabalha'" style="display: block;">
            <app-dados-empresa [usuario]="usuario" [form]="dadosDaEmpresaForm" [submitted]="submitted"></app-dados-empresa>
        </ng-wizard-step>
        <ng-wizard-step [title]="'Dependentes'" [description]="'Cadastre seus dependentes'" style="display: block;">
            <app-dependentes [form]="anexos" [submitted]="submitted"></app-dependentes>
            <div class="container">
                <button type="button" class="btn btn-info btn-salvar" (click)="salvar()" style="width: 100%;">Salvar</button>
            </div>
        </ng-wizard-step>
    </ng-wizard>
</div>