.field-set {
    border-radius: 2px;
    padding: 20px;   
    background-color: #eceff1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19),
    0 6px 6px rgba(0, 0, 0, .23);
    margin-top: 100px;
}

.container > div {
    margin: 20px auto;
}

.label {
    font-weight: bolder;
}

.input-label-prepend {
    background-color: #17a2b8;
    color: white;
    border-radius: 7.5px 0px 0px 7.5px;
}

.row > div {
    margin-bottom: 15px;
}

.label:not([for=complemento]):not([for=nome-pai]):not([for=nome-mae]):not([for=nome-rl]):not([for=cpf-rl]):not([for=habilitacao-sesc-rl]):not([for=rg-rl]):not([for=orgao-emissor-rg-rl]):not([for=data-emissao-rg-rl]):not([for=numero-cateira-trabalho]):not([for=observacao])::before {
        content: "* ";
        color: red;
    }