<div class="container signin-card">
    <div class="logo-image m-4">
        <img src="assets/img/logo.png" alt="Logo" title="Logo" width="138">
    </div>
    <form [formGroup]="trocarSenhaForm">
        <div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text input-label-prepend">Senha</div>
                </div>
                <input input formControlName="novaSenha" type="password" class="form-control" placeholder="Digite Sua nova Senha">
            </div>
            <app-vmessage *ngIf="submitted && trocarSenhaForm.get('novaSenha').errors?.required" text="O campo Senha é obrigatório"></app-vmessage>
        </div>

        <div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text input-label-prepend">Senha</div>
                </div>
                <input input formControlName="confirmacaoSenha" type="password" class="form-control" placeholder="Confime Sua Nova Senha">
            </div>
            <app-vmessage *ngIf="submitted && trocarSenhaForm.get('confirmacaoSenha').errors?.required" text="O campo Confirmação é obrigatório"></app-vmessage>
            <app-vmessage *ngIf="submitted && trocarSenhaForm.errors?.senhasDiferentes" text="As senhas devem ser iguais"></app-vmessage>
        </div>
        
        <div>
            <button class="btn btn-block btn-info ripple-effect" (click)="enviar()" alt="sign in">Enviar</button>
        </div>
    </form>
</div>