<div class="container">
    <div class="field-set">
        <app-camera [webcamImage]="webcamImage" [propriedade]="data.propriedade"></app-camera>
        
    </div>
    <div class="row" style="float: right;">
        <!-- <button type="button" class="btn btn-warning" (click)="exibirFoto();">Tirar Foto</button>
        <button type="button" class="btn btn-primary" (click)="exibirFoto();">Concluir</button> -->
    </div>
</div>