input[type='radio'] ~ label {
    font-weight: 550;
} 

.radio-carteira {
    text-align: end;
}

.radio-carteira-registrada {
    color: green;
}

.radio-sem-carteira-registrada {
    color: red;
}

.obrigatorio::before {
    content: "* ";
    color: red;
}

.foto-perfil {
    width: 150px;
}

.btn-cancelar {
    margin: 0 auto;
    /* margin-right: 2px; */
}

.btn-salvar {
    margin: 0 auto;
    /* margin-left: 2px;     */
}

.container h4{
    font-weight: bold;
    text-align: center;
}

button{
    margin: 0 auto;
}

img{
    margin: 0 auto;
    display: block;
}