<mat-toolbar class="footer">
    <span>
        Desenvolvido com 
        <i class="material-icons v-middle">
            favorite
        </i>
        por <strong>Cod<span>3</span>e</strong>
    </span>
</mat-toolbar>