<div class="container">
    <div class="field-set">
        <div class="row">
            <h1 style="font-weight: 600; font-size: 21px;" class="col-md-8">Requerimento de Inclusão/Exclusão de Nome Social</h1>
        </div>

        <hr>

        <h3>
            <a class="link" (click)="downloadRequerimentoNomeSocial()">Baixe o formulário</a> de Requerimento de Inclusão/Exclusão de Nome Social, preencha e anexe o arquivo preenchido ou preencha o formulário abaixo.
        </h3>

        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <label for="nome-completo" class="label">Nome Civil</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="fas fa-user"></i></span>
                        </div>
                        <input formControlName="nome" uppercase type="text" class="form-control"
                            id="nome-completo" placeholder="Nome Completo">
                    </div>
                    <app-vmessage *ngIf="concluded && form.get('nome').errors?.required"
                        text="O campo Nome Civil é obrigatório"></app-vmessage>
                </div>

                <div class="col-md-3 col-xs-12">
                    <label for="cpf" class="label">CPF</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="far fa-id-card"></i></span>
                        </div>
                        <input formControlName="cpf" type="text" class="form-control" id="cpf" placeholder="CPF"
                            mask="000.000.000-00">
                    </div>
                    <app-vmessage *ngIf="concluded && form.get('cpf').errors?.required" text="O campo CPF é obrigatório">
                    </app-vmessage>
                    <app-vmessage *ngIf="concluded && form.get('cpf').errors?.pattern" text="Deve ser um CPF válido">
                    </app-vmessage>
                </div>

                <div class="col-md-4 col-xs-12">
                    <label for="orgao-emissor-rg" class="label">Habilitação no SESC Nº</label>
                    <div class="input-group">
                        <input formControlName="habilitacaoSesc" uppercase type="text" class="form-control"
                            id="orgao-emissor-rg" placeholder="Orgão Emissor/UF">
                    </div>
                    <app-vmessage *ngIf="concluded && form.get('habilitacaoSesc').errors?.required"
                        text="O campo Orgão Emissor/UF é obrigatório"></app-vmessage>
                </div>

                <div class="col-md-4 col-xs-12">
                    <label for="rg" class="label">RG</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="far fa-id-card"></i></span>
                        </div>
                        <input formControlName="rg" id="rg" type="text" class="form-control" placeholder="RG"
                            mask="0*">
                    </div>

                    <app-vmessage *ngIf="concluded && form.get('rg').errors?.required" text="O campo RG é obrigatório">
                    </app-vmessage>
                    <app-vmessage *ngIf="concluded && form.get('rg').errors?.pattern" text="Deve ser um RG válido">
                    </app-vmessage>
                </div>

                <div class="col-md-4 col-xs-12">
                    <label for="orgao-emissor-rg" class="label">Orgão Emissor/UF</label>
                    <div class="input-group">
                        <input formControlName="orgaoEmissorRg" uppercase type="text" class="form-control"
                            id="orgao-emissor-rg" placeholder="Orgão Emissor/UF">
                    </div>
                    <app-vmessage *ngIf="concluded && form.get('orgaoEmissorRg').errors?.required"
                        text="O campo Orgão Emissor/UF é obrigatório"></app-vmessage>
                </div>

                <div class="col-md-4 col-xs-12">
                    <label for="data-nascimento" class="label">Data de Emissão Do RG</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i
                                    class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input formControlName="dataEmissaoRg" type="date" class="form-control"
                            id="data-nascimento" placeholder="Nome Completo">
                    </div>
                    <app-vmessage *ngIf="concluded && form.get('dataEmissaoRg').errors?.required"
                        text="O campo Data de Emissão Do RG é obrigatório"></app-vmessage>
                </div>

                <div class="col-md-5 col-xs-12">
                    <label for="nome-rl" class="label">Nome(Responsável Legal)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="fas fa-user"></i></span>
                        </div>
                        <input formControlName="nomeRl" uppercase type="text" class="form-control"
                            id="nome-rl" placeholder="Nome(Responsável Legal)">
                    </div>
                </div>

                <div class="col-md-3 col-xs-12">
                    <label for="cpf-rl" class="label">CPF(Responsável Legal)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="far fa-id-card"></i></span>
                        </div>
                        <input formControlName="cpfRl" type="text" class="form-control" id="cpf" placeholder="CPF"
                            mask="000.000.000-00">
                        </div>
                        <app-vmessage *ngIf="concluded && form.get('cpfRl').errors?.pattern" text="Deve ser um CPF válido">
                        </app-vmessage>
                </div>

                <div class="col-md-4 col-xs-12">
                    <label for="habilitacao-sesc-rl" class="label">Habilitação no SESC Nº(Responsável Legal)</label>
                    <div class="input-group">
                        <input formControlName="habilitacaoSescRl" uppercase type="text" class="form-control"
                            id="orgao-emissor-rg" placeholder="Orgão Emissor/UF">
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <label for="rg-rl" class="label">RG(Responsável Legal)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="far fa-id-card"></i></span>
                        </div>
                        <input formControlName="rgRl" id="rg" type="text" class="form-control" placeholder="RG"
                            mask="0*">

                        </div>
                        <app-vmessage *ngIf="concluded && form.get('rgRl').errors?.pattern" text="Deve ser um RG válido">
                        </app-vmessage>
                </div>

                <div class="col-md-4 col-xs-12">
                    <label for="orgao-emissor-rg-rl" class="label">Orgão Emissor/UF(Responsável Legal)</label>
                    <div class="input-group">
                        <input formControlName="orgaoEmissorRl" uppercase type="text" class="form-control"
                            id="orgao-emissor-rg" placeholder="Orgão Emissor/UF">
                    </div>
                </div>


                <div class="col-md-4 col-xs-12">
                    <label for="data-emissao-rg-rl" class="label">Data de Emissão Do RG(Responsável Legal)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i
                                    class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input formControlName="dataEmissaoRgRl" type="date" class="form-control"
                            id="data-nascimento" placeholder="Nome Completo">
                    </div>
                </div>

                <div class="col-md-8 col-xs-12">
                    <label for="nome-social" class="label">Nome Social</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text input-label-prepend"><i class="fas fa-user"></i></span>
                        </div>
                        <input formControlName="nomeSocial" uppercase type="text" class="form-control"
                            id="nome-social" placeholder="Nome Social">
                        <app-vmessage *ngIf="concluded && form.get('nomeSocial').errors?.pattern" text="O campo Nome Social é obrigatório">
                        </app-vmessage>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 align-self-end" style="text-align: left;">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="tipoRequerimentoIncluir" name="tipoRequerimento" class="custom-control-input"
                            value="incluir" formControlName="tipoRequerimento">
                        <label class="custom-control-label" for="tipoRequerimentoIncluir">Incluir</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="tipoRequerimentoExcluir" name="tipoRequerimento" class="custom-control-input"
                            value="excluir" formControlName="tipoRequerimento">
                        <label class="custom-control-label" for="tipoRequerimentoExcluir">Excluir</label>
                    </div>
                </div>

            </div>
        </form>

        <div class="row justify-content-center" style="display: grid;">

            <label class="btn btn-default">
              <input class="form-control-file" type="file" (change)="onFileChange($event, 'comprovanteNomeSocial')" />
            </label>

            <div *ngIf="usuario && usuario.comprovanteNomeSocial" style="padding: 6px 0px 0px 15px;">
                <a class="link" (click)="baixarComprovanteNomeSocial()">{{ usuario.comprovanteNomeSocial.nome }}</a>
            </div>

        </div>

    </div>
    <div class="row">
        <button type="button" class="btn btn-danger btn-modal btn-cancelar col" (click)="fechar()">Cancelar</button>
        <button type="button" class="btn btn-info btn-modal btn-salvar col" (click)="concluir()">Concluir</button>
    </div>
</div>