<div class="container">
    <div class="field-set">
        <h4>TERMOS DE USO, POLÍTICA E RESPONSABILIDADE DOS SERVIÇOS DO SERVIÇO SOCIAL DO COMÉRCIO - ADMINISTRAÇÃO REGIONAL DO DISTRITO FEDERAL - SESC/DF</h4>
        <hr>
        <p>O Serviço Social do Comércio - Sesc, criado em 1946, é uma instituição privada, sem fins lucrativos, mantida por contribuição social de caráter compulsório,
            que tem como Missão promover ações socioeducativas que contribuam para o bem estar social e a quantidade de vida dos trabalhadores do comércio de bens, serviços e turismo, 
            de seus familiares e, em caráter complementar, do público em geral, para uma sociedade justa e democrática.
        </p>
        <p>
            O Sesc promove diversas atividades e atendimentos nas áreas de educação, saúde, esporte, alimentação, cultura, ação social, turismo
            e lazer.
        </p>
        <p>
            Os serviços são prestados de acordo com as características da instituição, observadas sua disponibilidade e limitações.
        </p>
        <p>
            No Sesc não há distinção de qualquer espécie, seja de raça, cor, sexo, idioma, religião, opinião política iy de outra natureza.
        </p>
        <p>
            É de responsabilidade do usuário a veracidade de todas as informações no cadastro, mantendo o Sesc/DF integralmente livre e isento de todo
            e qualquer ônus, dever ou responsabilidade decorrente ou de qualquer forma relacionada aos dados cadastrados.
        </p>
        <p>
            Os serviços e equipamentos da instituição somente são acessiveis de acordo com as Regras de Habilitação do Sesc.
        </p>
        <p>
            Declaro, por meio do presente Termo de Uso, Politica e Responsabilidade de acesso aos serviços do Sesc/DF, que tomei ciência, li e 
            concordo com a Política de Relacionamento que deve ser observada pelos usuários dos serviços prestados pelo Sesc/DF, nos termos a seguir descritos. 
        </p>
        <hr>
    </div>
    <div class="row" style="float: right;">
        <button type="button" class="btn btn-light btn-modal btn-cancelar btn-sm" (click)="fechar()">Cancelar</button><br>
        <button type="button" class="btn btn-primary btn-modal btn-salvar btn-sm" (click)="setUser()">Li e concordo com os termos de uso</button>
    </div>
</div>