
<div class="container" style="display: block;">
    <div *ngIf="!webcamImage" style="text-align: center;">
        <webcam [height]="300" [width]="300" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
    </div>
    
    <div class="snapshot imagem-camera" *ngIf="webcamImage" style="overflow: auto;">
        <img style="margin: 0 auto; display: block;" [src]="webcamImage.imageAsDataUrl" />
    </div>
    <br>
    <div class="row row-buttons" *ngIf="!webcamImage">
        <a class="btn btn-primary" (click)="triggerSnapshot();" title="Tirar Foto">
            <i class="fa fa-camera"></i></a>
        &nbsp;
        <a (click)="fileInput.click()" class="btn btn-info"
            title="Escolher foto">
            <i class="fa fa-image"></i>
        </a>
        <input #fileInput value="Escolher Foto" (change)="onFileChange($event, nomeCampo)"
            accept="image/*"  hidden type="file">
    </div>
            <!-- <a class="btn btn-warning" (click)="escolherArquivo();" title="Mudar Camera" >
                <i class="fa fa-retweet"></i>
            </a> -->
    <div *ngIf="webcamImage">
        <div class="row-buttons">
            <a class="btn btn-info" (click)="tirarOutraFoto();" title="Tirar outra foto">Tirar outra foto</a>
            &nbsp;
            <a class="btn btn-success" mat-dialog-close title="Concluir">Concluir</a>
        </div>
    </div>
</div>
