.btn-novo-dependente {
    margin-bottom: 10px;
}

.btn-acao {
    margin-right: 2px;
}

h3{
    font-weight: bold;
}

.p-red{
    color: red;
}

.box-arquivo{
    text-align: center;
    background-color:#bee5ff;
    border-radius: 20px;
    padding: 15px;
    border-radius: 1px solid #979797;
}