<div class="container">
  <div class="field-set">
    <div class="row">
      <div class="col-md-12">
        <h3><i class="fa fa-paperclip" aria-hidden="true"></i> Documentos Obrigatórios</h3>
      </div>
      <div class="col-md-12">
        <p>Para adicionar mais de um arquivo deve-se segurar a tecla <b>Control (ctrl)</b> e selecionar os arquivos desejados</p>
        <p class="p-red">Documentos Digitalizados: RG, CPF, CERTIDÃO(NASCIMENTO/CASAMENTO), DECLARAÇÃO DE UNIÃO ESTÁVEL, DECLARAÇÃO DE ESTUDANTE DO SEMESTRE ATUAL
          (FILHOS DE 21 A 24 ANOS), FOTO 3X4 RECENTE COLORIDA, CTPS, COMPROVANTE DE RENDA E TERMO DE GUARDA JUDICIAL (PESSOA SOB GUARDA).
        </p>
      </div>
    </div>
    <hr>
    <form [formGroup]="form">
      <div class="row justify-content-center">
        <label class="btn btn-default">
          <input class="form-control-file" formArrayName="fileField" type="file" multiple (change)="selectFiles($event)" />
        </label>
      </div>
  
      <div class="row justify-content-center">
        <div class="col-md-8 box-arquivo">
          <p>Formatos de arquivos aceitos para fotos: GIF, BMP, JPG, JPEG E PNG.</p>
          <P>Formatos de arquivos aceitos para documentos: PDF, GIF, JPG, JPEG, BMP e PNG.</P>
          <p>Limite de 20 arquivos com tamanho máximo por arquivo de 200kb.</p>
        </div>
      </div>

      <div class="card" *ngIf="lista_arquivos.length > 0 || lista_arquivos_editados.length > 0">
        <div class="card-header"><b>Lista de arquivos</b></div>
        <ul class="list-group list-group-flush" *ngFor="let file of lista_arquivos">
          <li class="list-group-item">
           {{ file.name }}
          </li>
        </ul>

      </div>
      <br>
      <div class="row justify-content-center">
        <button [disabled]="submitted" class="btn btn-primary" *ngIf="lista_arquivos.length > 0" (click)="upload()">Salvar</button>
      </div>
    </form>
    
  </div>
  <div class="field-set">
    <button (click)="novoDependente()" class="btn btn-primary btn-novo-dependente">Novo Dependente</button>
    <table class="table table-striped table-responsive-sm">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Parentesco</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dependente of dependentes">
          <td>{{ dependente?.nomeCompleto }}</td>
          <td>{{ dependente?.cpf | mask: '000.000.000-00' }}</td>
          <td>{{ dependente?.parentesco }}</td>
          <td>
            <button class="btn btn-warning btn-circle btn-sm btn-acao" (click)="editarDependente(dependente)" title="Editar">
              <i class="fas fa-user-edit"></i>
            </button>
            <button class="btn btn-danger btn-circle btn-sm btn-acao" (click)="removerDependente(dependente)" title="Excluir">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>