<div>
    <div class="container signin-card">
        <div class="logo-image m-4">
            <img src="assets/img/logo.png" alt="Logo" title="Logo" width="138">
        </div>
        <form [formGroup]="loginForm">
            <app-alert type-alert="alert-info">
                Faça Login ou <strong><a (click)="recuperarSenha()" style="cursor: pointer;">Recupere a Senha</a></strong>
            </app-alert>

            <div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text input-label-prepend">CPF</div>
                    </div>
                    <input formControlName="cpf" type="text" class="form-control" placeholder="Digite seu CPF"
                        mask="000.000.000-00">
                </div>
                <app-vmessage *ngIf="submitted && loginForm.get('cpf').errors?.required"
                    text="O campo CPF é obrigatório"></app-vmessage>
                <app-vmessage *ngIf="submitted && loginForm.get('cpf').errors?.pattern" text="Deve ser um CPF válido">
                </app-vmessage>
            </div>

            <div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text input-label-prepend">Senha</div>
                    </div>
                    <input formControlName="senha" type="password" class="form-control" placeholder="Digite Sua Senha">
                </div>
                <app-vmessage *ngIf="submitted && loginForm.get('senha').errors?.required"
                    text="O campo Senha é obrigatório"></app-vmessage>
            </div>

            <div>
                <button class="btn btn-block btn-info ripple-effect" name="Submit" alt="sign in"
                    (click)="logar()">Avançar</button>
            </div>

        </form>
    </div>
</div>