body {
    font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif; 
    background: #0277bd;
}

.signin-card {
  max-width: 450px;
  border-radius: 2px;
  margin: 20px auto;
  padding: 20px;   
  background-color: #eceff1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19),
  0 6px 6px rgba(0, 0, 0, .23);
}

.signin-card { 
  .logo-image, h1, p {
    text-align: center;
  }    
}

.input-label-prepend {
  background-color: #17a2b8;
  color: white;
  min-width: 70px;
  border-radius: 7.5px 0px 0px 7.5px;
}


form > div {
  margin: 25px 0px 25px 0px;
}