input[type='radio'] ~ label {
    font-weight: 550;
} 

.radio-carteira {
    text-align: end;
}

.radio-carteira-registrada {
    color: green;
}

.radio-sem-carteira-registrada {
    color: red;
}

.obrigatorio::before {
    content: "* ";
    color: red;
}

.foto-perfil {
    width: 150px;
}

.btn-cancelar {
    margin-right: 2px;
}

.btn-salvar {
    margin-left: 2px;    
}

