<div class="container">
    <div class="field-set">
        <div>
            <form [formGroup]="dependenteForm" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <img *ngIf="fotoPerfil;else fotoPerfilIndefinda" [src]="fotoPerfil" class="foto-perfil">
                        <ng-template #fotoPerfilIndefinda>
                            <img src="assets/img/150.png" class="foto-perfil">
                        </ng-template>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12" style="max-width: 130px;">
                        <label for="fotoPerfil" class="label">Foto de Perfil</label>

                        <div class="input-group">
                            <button (click)="fileInput.click()" class="btn btn-primary" type="button"
                                title="Escolher foto">
                                <i class="fa fa-image fa-2x align-middle"></i>
                            </button>
                        </div>
                        <input #fileInput value="Escolher Foto" (change)="onFileChange($event, 'fotoPerfil')"
                            accept="image/*" formControlName="fotoPerfil" hidden type="file">
                        <app-vmessage *ngIf="submitted && dependenteForm.get('fotoPerfil').errors?.required"
                            text="Selecione uma foto"></app-vmessage>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <label for="cpf" class="label">CPF</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i class="far fa-id-card"></i></span>
                            </div>
                            <input formControlName="cpf" type="text" class="form-control" id="cpf" placeholder="CPF"
                                mask="000.000.000-00">
                        </div>
                        <app-vmessage *ngIf="submitted && dependenteForm.get('cpf').errors?.required"
                            text="O campo CPF é obrigatório"></app-vmessage>
                        <app-vmessage *ngIf="submitted && dependenteForm.get('cpf').errors?.pattern"
                            text="Deve ser um CPF válido"></app-vmessage>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <label class="label" for="sexo">Sexo</label>
                        <div class="input-group">
                            <select formControlName="sexo" id="sexo" class="custom-select">
                                <option *ngFor="let sexo of listaSexo" [value]="sexo.valor">
                                    {{ sexo.nome }}
                                </option>
                            </select>
                        </div>
                        <app-vmessage *ngIf="submitted && dependenteForm.get('sexo').errors?.required"
                            text="O campo Sexo é obrigatório"></app-vmessage>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label for="nome-completo" class="label">Nome Completo</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i class="fas fa-user"></i></span>
                            </div>
                            <input formControlName="nomeCompleto" uppercase type="text" class="form-control"
                                id="nome-completo" placeholder="Nome Completo">
                        </div>
                        <app-vmessage *ngIf="submitted && dependenteForm.get('nomeCompleto').errors?.required"
                            text="O campo Nome Completo é obrigatório"></app-vmessage>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <label for="nome-social" class="label">Nome Social</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i class="fas fa-user"></i></span>
                            </div>
                            <input formControlName="nomeSocial" uppercase type="text" class="form-control"
                                id="nome-social" placeholder="Nome Social">
                        </div>
                        <app-vmessage *ngIf="submitted && dependenteForm.get('nomeSocial').errors?.required"
                            text="O campo Nome Social é obrigatório"></app-vmessage>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <label for="data-nascimento" class="label">Data de nascimento</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i
                                        class="fas fa-calendar-alt"></i></span>
                            </div>
                            <input formControlName="dataNascimento" type="date" class="form-control"
                                id="data-nascimento" placeholder="Nome Completo">
                        </div>
                        <app-vmessage *ngIf="submitted && dependenteForm.get('dataNascimento').errors?.required"
                            text="O campo Data de Nascimento é obrigatório"></app-vmessage>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <label class="label" for="estado-civil">Estado Civil</label>
                        <div class="input-group">
                            <select formControlName="estadoCivil" id="estado-civil" class="custom-select">
                                <option *ngFor="let estadoCivil of listaEstadoCivil" [value]="estadoCivil.valor">
                                    {{ estadoCivil.nome }}
                                </option>
                            </select>
                        </div>
                        <app-vmessage *ngIf="submitted && dependenteForm.get('estadoCivil').errors?.required"
                            text="O campo Estado Civil é obrigatório"></app-vmessage>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <label class="label" for="grau-instrucao">Parentesco</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i
                                        class="fas fa-user-graduate"></i></span>
                            </div>
                            <select formControlName="parentesco" id="parentesco" class="custom-select">
                                <option *ngFor="let parentesco of listaParentesco" [value]="parentesco.valor">
                                    {{ parentesco.nome }}
                                </option>
                            </select>
                        </div>
                        <app-vmessage *ngIf="submitted && dependenteForm.get('parentesco').errors?.required"
                            text="O campo Grau de instrução é obrigatório"></app-vmessage>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <label for="rg" class="label">RG</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i class="far fa-id-card"></i></span>
                            </div>
                            <input formControlName="rg" id="rg" type="text" class="form-control" placeholder="RG"
                                mask="0*">
                        </div>
                        <app-vmessage *ngIf="submitted && dependenteForm.get('rg').errors?.required"
                            text="O campo RG é obrigatório"></app-vmessage>
                        <app-vmessage *ngIf="submitted && dependenteForm.get('rg').errors?.pattern"
                            text="Deve ser um RG válido"></app-vmessage>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <label for="orgao-emissor-rg" class="label">Orgão Emissor/UF</label>
                        <div class="input-group">
                            <input formControlName="orgaoEmissor" uppercase type="text" class="form-control"
                                id="orgao-emissor-rg" placeholder="Orgão Emissor/UF">
                        </div>
                        <app-vmessage *ngIf="submitted && dependenteForm.get('orgaoEmissor').errors?.required"
                            text="O campo Orgão Emissor/UF é obrigatório"></app-vmessage>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <label for="naturalidade" class="label">Naturalidade</label>
                        <div class="input-group">
                            <input formControlName="naturalidade" uppercase type="text" class="form-control"
                                id="naturalidade" placeholder="Naturalidade">
                        </div>
                        <app-vmessage *ngIf="submitted && dependenteForm.get('naturalidade').errors?.required"
                            text="O campo Nacionalidade é obrigatório"></app-vmessage>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <label for="nacionalidade" class="label">Nacionalidade</label>
                        <div class="input-group">
                            <input formControlName="nacionalidade" uppercase type="text" class="form-control"
                                id="nacionalidade" placeholder="Nacionalidade">
                        </div>
                        <app-vmessage *ngIf="submitted && dependenteForm.get('nacionalidade').errors?.required"
                            text="O campo Nacionalidade é obrigatório"></app-vmessage>
                    </div>


                    <div class="col-md-4 col-sm-12">
                        <label for="renda" class="label">Renda</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i
                                        class="fas fa-piggy-bank"></i></span>
                            </div>
                            <input formControlName="renda" type="text" class="form-control" id="renda"
                                placeholder="Renda" mask="separator.2" thousandSeparator=",">
                        </div>
                        <app-vmessage *ngIf="submitted && dependenteForm.get('renda').errors?.required"
                            text="O campo Renda é obrigatório"></app-vmessage>
                    </div>

                    <!-- <div class="col-md-4 col-sm-12">
                        <label class="label" for="grau-instrucao">Grau de instrução</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i
                                        class="fas fa-user-graduate"></i></span>
                            </div>
                            <select formControlName="grauInstrucao" id="grau-instrucao" class="custom-select">
                                <option *ngFor="let grauInstrucao of listaGrauInstrucao" [value]="grauInstrucao.valor">
                                    {{ grauInstrucao.nome }}
                                </option>
                            </select>
                        </div>
                        <app-vmessage *ngIf="submitted && dependenteForm.get('grauInstrucao').errors?.required"
                            text="O campo Grau de instrução é obrigatório"></app-vmessage>
                    </div> -->
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-danger btn-modal btn-cancelar col" (click)="fechar()">Cancelar</button>
        <button type="button" class="btn btn-info btn-modal btn-salvar col" (click)="salvar()">Salvar</button>
    </div>
</div>