input[type='radio'] ~ label {
    font-weight: 550;
} 

.radio-carteira {
    text-align: end;
}

.radio-carteira-registrada {
    color: green;
    text-align: left;
}

.radio-sem-carteira-registrada {
    color: red;
    text-align: left;
}

.obrigatorio::before {
    content: "* ";
    color: red;
}

.foto-perfil {
    width: 150px;
}

.btn-tirar-foto {
    font-size: 7px;
}