<div class="container">

    <div style="background-color: #68616114; border-radius: 5px 5px 5px 5px; height: 40px;">
        <h1 style="text-align: center; color: #374ebd; font-weight: 500; font-size: 25px; padding: 5px 0px 5px 0px;">
            Atualize seus Dados</h1>
    </div>

    <!-- <div>
        <app-alert type-alert="alert-warning"><strong>Atualize os dados recuperados do SMA</strong></app-alert>
    </div> -->

    <!-- <app-camera></app-camera> -->

    <div class="field-set">
        <div>
            <div class="row">
                <h1 style="font-weight: 600; font-size: 21px;" class="col-md-8">Dados Pessoais</h1>
                <p col>Carteira Nº. <strong>0148.000340-0</strong> Validade:<strong>12/02/2005</strong></p>
            </div>
            <hr>

            <form [formGroup]="form" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <img *ngIf="fotoPerfil;else fotoPerfilIndefinda" [src]="fotoPerfil" class="foto-perfil">
                        <ng-template #fotoPerfilIndefinda>
                            <img src="assets/img/150.png" class="foto-perfil">
                        </ng-template>
                    </div>

                    <div class="col radio-carteira" style="text-align: left;">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" name="carteiraRegistrada"
                                class="custom-control-input" [value]="true" 
                                formControlName="carteiraRegistrada" (change)="alterarRegraCampoCarteira()">

                            <label class="custom-control-label radio-carteira-registrada"
                                for="customRadioInline1">Carteira Registrada</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="carteiraRegistrada"
                                class="custom-control-input" [value]="false" 
                                formControlName="carteiraRegistrada"  (change)="alterarRegraCampoCarteira()">

                            <label class="custom-control-label radio-sem-carteira-registrada"
                                for="customRadioInline2">Sem Registro na Carteira de Trabalho</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-12" style="max-width: 160px;">
                        <label for="fotoPerfil" class="label">Foto de Perfil</label>
                        <div class="input-group">
                            <!-- <button (click)="fileInput.click()" class="btn btn-primary" type="button"
                                title="Escolher foto">
                                <i class="fa fa-image fa-2x align-middle"></i>
                            </button> -->
                            <button (click)="abrirModalFoto('fotoPerfil')" class="btn btn-primary" type="button"
                                title="Tirar Foto">
                                <i class="fa fa-camera fa-2x align-middle"></i>
                            </button>
                        </div>
                        <input #fileInput value="Escolher Foto" (change)="onFileChange($event, 'fotoPerfil')"
                            accept="image/*" hidden type="file">
                        <app-vmessage *ngIf="submitted && form.get('fotoPerfil').errors?.required"
                            text="Selecione uma foto"></app-vmessage>
                    </div>

                    <div class="col-md-3 col-xs-12">
                        <label for="cpf" class="label">CPF
                            <button (click)="abrirModalFoto('fotoCpf')" class="btn btn-primary btn-tirar-foto" type="button"
                                title="Tirar Foto">
                                <i class="fa fa-camera fa-2x align-middle"></i>
                            </button>
                        </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i class="far fa-id-card"></i></span>
                            </div>
                            <input formControlName="cpf" type="text" class="form-control" id="cpf" placeholder="CPF"
                                mask="000.000.000-00">
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('cpf').errors?.required"
                            text="O campo CPF é obrigatório">
                        </app-vmessage>
                        <app-vmessage *ngIf="submitted && form.get('cpf').errors?.pattern" 
                            text="Deve ser um CPF válido">
                        </app-vmessage>
                        <app-vmessage *ngIf="submitted && form.get('fotoCpf').errors?.required"
                            text="A foto do RG é obrigatória"></app-vmessage>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <label class="label" for="sexo">Sexo</label>
                        <div class="input-group">
                            <select formControlName="sexo" id="sexo" class="custom-select">
                                <option *ngFor="let sexo of listaSexo" [value]="sexo.valor">
                                    {{ sexo.nome }}
                                </option>
                            </select>
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('sexo').errors?.required"
                            text="O campo Sexo é obrigatório">
                        </app-vmessage>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <label for="nome-completo" class="label">Nome Completo</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i class="fas fa-user"></i></span>
                            </div>
                            <input formControlName="nomeCompleto" uppercase type="text" class="form-control"
                                id="nome-completo" placeholder="Nome Completo">
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('nomeCompleto').errors?.required"
                            text="O campo Nome Completo é obrigatório"></app-vmessage>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <label for="nome-pai" class="label">
                            Nome Social

                            <button class="btn btn-primary btn-tirar-foto" type="button" title="Formulário de Requerimento de Nome Social" 
                                (click)="abrirModalNomeSocial()" [disabled]="!this.form.get('nomeSocial').value">
                                <i class="far fa-file-alt fa-2x align-middle"></i>
                            </button>
                        </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i class="fas fa-user"></i></span>
                            </div>
                            <input formControlName="nomeSocial" uppercase type="text" class="form-control"
                                id="nome-social" placeholder="Nome Social">
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('nomeSocial').errors?.required"
                            text="O campo Nome Social é obrigatório"></app-vmessage>
                                                
                        <app-vmessage *ngIf="submitted && !nomeSocialValido"
                            text="Você precisa preencher o formulário de Requerimento de Nome Social ou anexe o Comprovante"></app-vmessage>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <label for="data-nascimento" class="label">Data de nascimento</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i
                                        class="fas fa-calendar-alt"></i></span>
                            </div>
                            <input formControlName="dataNascimento" type="date" class="form-control"
                                id="data-nascimento" placeholder="Nome Completo">
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('dataNascimento').errors?.required"
                            text="O campo Data de Nascimento é obrigatório"></app-vmessage>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <label class="label" for="estado-civil">Estado Civil</label>
                        <div class="input-group">
                            <select formControlName="estadoCivil" id="estado-civil" class="custom-select">
                                <option *ngFor="let estadoCivil of listaEstadoCivil" [value]="estadoCivil.valor">
                                    {{ estadoCivil.nome }}
                                </option>
                            </select>
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('estadoCivil').errors?.required"
                            text="O campo Estado Civil é obrigatório"></app-vmessage>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <label class="label" for="grau-instrucao">Grau de instrução</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i
                                        class="fas fa-user-graduate"></i></span>
                            </div>
                            <select formControlName="grauInstrucao" id="grau-instrucao" class="custom-select">
                                <option *ngFor="let grauInstrucao of listaGrauInstrucao" [value]="grauInstrucao.valor">
                                    {{ grauInstrucao.nome }}
                                </option>
                            </select>
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('grauInstrucao').errors?.required"
                            text="O campo Grau de instrução é obrigatório"></app-vmessage>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <label for="rg" class="label">RG
                            <button (click)="abrirModalFoto('fotoRG')" class="btn btn-primary btn-tirar-foto" type="button"
                                title="Tirar Foto">
                                <i class="fa fa-camera fa-2x align-middle"></i>
                            </button>
                        </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i class="far fa-id-card"></i></span>
                            </div>
                            <input formControlName="rg" id="rg" type="text" class="form-control" placeholder="RG"
                                mask="0*">
                        </div>

                        <app-vmessage *ngIf="submitted && form.get('rg').errors?.required"
                            text="O campo RG é obrigatório">
                        </app-vmessage>
                        <app-vmessage *ngIf="submitted && form.get('rg').errors?.pattern" 
                            text="Deve ser um RG válido">
                        </app-vmessage>
                        <app-vmessage *ngIf="submitted && form.get('fotoRG').errors?.required"
                            text="A foto do RG é obrigatória"></app-vmessage>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <label for="orgao-emissor-rg" class="label">Orgão Emissor/UF</label>
                        <div class="input-group">
                            <input formControlName="orgaoEmissor" uppercase type="text" class="form-control"
                                id="orgao-emissor-rg" placeholder="Orgão Emissor/UF">
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('orgaoEmissor').errors?.required"
                            text="O campo Orgão Emissor/UF é obrigatório"></app-vmessage>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <label for="naturalidade" class="label">Naturalidade</label>
                        <div class="input-group">
                            <input formControlName="naturalidade" uppercase type="text" class="form-control"
                                id="naturalidade" placeholder="Naturalidade">
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('naturalidade').errors?.required"
                            text="O campo Nacionalidade é obrigatório"></app-vmessage>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <label for="nacionalidade" class="label">Nacionalidade</label>
                        <div class="input-group">
                            <input formControlName="nacionalidade" uppercase type="text" class="form-control"
                                id="nacionalidade" placeholder="Nacionalidade">
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('nacionalidade').errors?.required"
                            text="O campo Nacionalidade é obrigatório"></app-vmessage>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <label for="profissao" class="label">Profissão</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i
                                        class="fas fa-briefcase"></i></span>
                            </div>
                            <input formControlName="profissao" uppercase type="text" class="form-control" id="profissao"
                                placeholder="Profissão">
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('profissao').errors?.required"
                            text="O campo Nacionalidade é obrigatório"></app-vmessage>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <label for="numero-cateira-trabalho" class="label"
                            [ngClass]="{'obrigatorio': form.get('carteiraRegistrada').value}">Nº carteira de Trabalho/Série
                            <button (click)="abrirModalFoto('fotoCarteiraTrabalho')" class="btn btn-primary btn-tirar-foto" type="button"
                                title="Tirar Foto">
                                <i class="fa fa-camera fa-2x align-middle"></i>
                            </button>
                        </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i
                                        class="fas fa-id-card-alt"></i></span>
                            </div>
                            <input formControlName="numeroCarteiraTrabalho" uppercase type="text" class="form-control"
                                id="numero-cateira-trabalho" placeholder="Nº carteira de Trabalho/Série">
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('numeroCarteiraTrabalho').errors?.required"
                            text="O campo Nº carteira de Trabalho/Série é obrigatório"></app-vmessage>
                        <app-vmessage *ngIf="submitted && form.get('fotoCarteiraTrabalho').errors?.required"
                            text="A foto da Carteira de Trabalho é obrigatória"></app-vmessage>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <label for="nome-pai" class="label">Nome do Pai</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i class="fas fa-user"></i></span>
                            </div>
                            <input formControlName="nomePai" uppercase type="text" class="form-control" id="nome-pai"
                                placeholder="Nome do Pai">
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('nomePai').errors?.required"
                            text="O campo Nome do Pai é obrigatório"></app-vmessage>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <label for="nome-mae" class="label">Nome da Mãe</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i class="fas fa-user"></i></span>
                            </div>
                            <input formControlName="nomeMae" uppercase type="text" class="form-control" id="nome-mae"
                                placeholder="Nome da Mãe">
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('nomeMae').errors?.required"
                            text="O campo Nome da Mãe é obrigatório"></app-vmessage>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <label for="telefone-celular" class="label">Telefone Celular</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i
                                        class="fas fa-mobile-alt"></i></span>
                            </div>
                            <input formControlName="telefoneCelular" uppercase type="text" class="form-control"
                                id="telefone-celular" placeholder="Telefone Celular" mask="(00)00000-0000">
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('telefoneCelular').errors?.required"
                            text="O campo Telefone Celular é obrigatório"></app-vmessage>
                        <app-vmessage *ngIf="submitted && form.get('telefoneCelular').errors?.pattern"
                            text="Deve ser número válido"></app-vmessage>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <label for="telefone-residencial" class="label">Telefone Residencial</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i
                                        class="fas fa-phone-alt"></i></span>
                            </div>
                            <input formControlName="telefoneResidencial" type="text" class="form-control"
                                id="telefone-residencial" placeholder="Telefone Residencial" mask="(00)00000-0000">
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('telefoneResidencial').errors?.required"
                            text="O campo Telefone Residencial é obrigatório"></app-vmessage>
                        <app-vmessage *ngIf="submitted && form.get('telefoneResidencial').errors?.pattern"
                            text="Deve ser número válido"></app-vmessage>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <label for="telefone-comercial" class="label">Telefone Comercial</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i
                                        class="fas fa-phone-alt"></i></span>
                            </div>
                            <input formControlName="telefoneComercial" type="text" class="form-control"
                                id="telefone-comercial" placeholder="Telefone Comercial" mask="(00)00000-0000">
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('telefoneComercial').errors?.required"
                            text="O campo Telefone Comercial é obrigatório"></app-vmessage>
                        <app-vmessage *ngIf="submitted && form.get('telefoneComercial').errors?.pattern"
                            text="Deve ser número válido"></app-vmessage>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label for="nome-pai" class="label">Email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-label-prepend"><i class="fas fa-at"></i></span>
                            </div>
                            <input formControlName="email" type="text" class="form-control" id="email"
                                placeholder="E-mail">
                        </div>
                        <app-vmessage *ngIf="submitted && form.get('email').errors?.required"
                            text="O campo E-mail é obrigatório"></app-vmessage>
                        <app-vmessage *ngIf="submitted && form.get('email').errors?.email"
                            text="Deve ser um E-mail válido"></app-vmessage>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>