@import "~@fortawesome/fontawesome-free/css/all.css";

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ng-wizard/themes/ng_wizard.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_arrows.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_circles.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_dots.min.css';

/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif; 
    /* background: #0277bd; */
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.red {
    color: #e35e6b;
}

.v-middle {
    vertical-align: middle;
}

.msg-success {
    background-color: #28a745;
    color: #fff;
}

.msg-error {
    background-color: #e35e6b;
    color: #fff;
}

.mat-snack-bar-container {
    padding: 0px !important;
    background-color: transparent !important;
}
  
.btn-notification{
    justify-content: left !important;
    cursor: auto;
    line-height: 2 !important;
}

.cdk-overlay-pane{
    overflow: auto !important;
}

@media (max-width:991px) {
    .ng-wizard-theme-arrows>.nav-tabs>li {
        width: 100%;
    }
    .imagem-camera img{
        width: 100%;
        height: auto;
    }
}

@media (min-width:991px) {
    .imagem-camera img{
        width: 50%;
        height: auto;
    }
}

.row-buttons{
    margin: 0 auto;
    display: block;
    text-align: center;
}

.row-buttons a{
    margin-bottom: 5px;
}

.ng-wizard-btn-next{
    color: #fff;
    background-color: #28a745 !important;
    border: #28a745 !important;
}

.ng-wizard-btn-next:hover{
    color: #fff;
    background-color: #218838 !important;
    border: #1e7e34 !important;
}

.ng-wizard-btn-prev{
    color: #212529;
    background-color: #ffc107 !important;
    border: #ffc107 !important;
}

.ng-wizard-btn-prev:hover{
    color: #212529;
    background-color: #e0a800;
    border: #d39e00;
}


.ng-wizard-theme-arrows .ng-wizard-toolbar {
    display: block;
    margin: 0 auto;
    text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
